/* SignIn.css */
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .error {
    color: red;
  }
  
  button {
    padding: 10px;
    background-color: #51b8b1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3d8b8b;
  }
  